.text-pink {
  color: #155ceb;
}
.text-green {
  color: #038c27;
}
.font-mono {
  font-family: "Courier New", monospace;
}
.freebook {
  color: #cf1746;
}
.emp {
  color: #155ceb;
}
.cour {
  color: #038c27;
}
.text-red {
  color: #d41919;
}
